<div
	class="lang-switcher"
	id="language-switcher-mount">
	<button
		type="button"
		class="lang-switcher__toggle"
		:aria-label="`Change language from ${currentLang?.label}`">
		<img
			:src="currentLang?.flagSvg"
			:alt="currentLang?.label"
			class="lang-switcher__flag" />
		<svg
			class="lang-switcher__arrow"
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			fill="none">
			<path
				d="M7 10L12 15L17 10"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round" />
		</svg>
	</button>

	<div class="lang-switcher__menu">
		<div class="lang-switcher__list">
			<a
				v-for="lang in locales"
				:key="lang.code"
				class="lang-switcher__option"
				:class="{ 'lang-switcher__option--active': lang.code === currentLocale }"
				@click.prevent="handleLanguageChange(lang)">
				<img
					:src="lang.flagSvg"
					:alt="lang.label"
					class="lang-switcher__flag" />
				<span class="lang-switcher__label">{{ lang.label }}</span>
			</a>
		</div>
	</div>
</div>
